autopep8==1.5.7
backports.entry-points-selectable==1.1.0
click==8.0.1
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.21.0
phonenumbers==8.12.28
platformdirs==2.0.2
pycodestyle==2.7.0
pyflakes==2.3.1
rpa==1.41.0
six==1.16.0
SQLAlchemy==1.4.21
tagui==1.41.0
toml==0.10.2
virtualenv==20.6.0
Werkzeug==2.0.1
yapf==0.31.0
