{% extends 'base.html' %}
{% block header %}
<title>{{title}}</title>
{% endblock %}
{% block content %}
<section class="Website Tutor">
    <h3>Application Tutorial</h3>
    <iframe src="https://www.youtube.com/embed/mIuVURa4ivI" frameborder="0" allow="accelerometer; autoplay;
    encrypted-media; gyroscope; picture-in-picture"></iframe>
</section>
<section id="Website_details">
    <h3>What can this website do?</h3>
    <ol>
        <li>A system allowing users to create accounts and upload video, using a speech to text
            library (cloud based or open source) to create text transcripts of these videos
        </li>
        <ol>Video Storage</ol>
        <li>Search engine to allow for searching of phrases and correlation with timestamp index
            in the corresponding video
        </li>
    </ol>

{% endblock %}