<!DOCTYPE html>
<title>{% block title %}{% endblock %}Project Factor</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<nav class = "header">
    <ul>
        <li><a href="{{ url_for('login') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('aboutus') }}">About us</a></li>
    </ul>
</nav>
{% block header %}{% endblock %}
<section class="conversion-controls">
    {% block content %}{% endblock %}
</section>