{% extends 'base.html' %}

{% block header %}
<nav class = "topnav">
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('login') }}">Login</a>
  <a href="{{ url_for('signup') }}">Register</a>
  <a href="{{ url_for('contactus') }}">Contact us</a>
</nav>
{% endblock %}
{% block content %}
    <form action= "{{ url_for('signup')}}" method="post" class="form1">
        <div class="heading">
          <h1 style="text-align: center;">Sign Up</h1>
          <p style="text-align: center;">Please fill in this form to create an account.</p>
        </div>
          <hr>
          <h2 style="text-align: center;">{{msg}}</h2>
          <label for="firstname"><b>First Name</b></label>
          <input type="text" class ='form_input' placeholder="Enter First Name" name="fname" required>
          
          <label for="lastname"><b>Last Name</b></label>
          <input type="text" class ='form_input' placeholder="Enter Last Name" name="lname" required>
          
          <label for="username"><b>Username</b></label>
          <input type="text" class ='form_input' placeholder="Enter Username" name="username" required>
      
          <label for="email"><b>Email</b></label>
          <input type="text" class ='form_input' placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" class ='form_input' placeholder="Enter Password" name="password" required>
          
          <label for="country"><b>Country</b></label>
          <input type="text" class ='form_input' placeholder="Enter your Country" name="country" required><br>

          <button type="button" <a href="{{ url_for('login') }}" class="button">Cancel</a></button>
          <button type="submit" class="button">Sign Up</button>
    </form>
    
    {{msg}}
{% endblock %}